blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #3c3c3c;
}
div,
ul,
li {
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
}
input:hover,
button:hover {
  cursor: pointer;
}
@font-face {
  font-family: "global-iconfont";
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot");
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1404888168_2057645.woff") format("woff"), url("//at.alicdn.com/t/font_1404888168_2057645.ttf") format("truetype"), url("//at.alicdn.com/t/font_1404888168_2057645.svg#uxiconfont") format("svg");
}
body {
  background-color: #f4f4f4;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.t-nav-cover {
  width: 100%;
  min-width: 1190px;
  height: 35px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.t-nav-cover .site-nav {
  height: 100%;
  width: 1190px;
  margin: 0 auto;
  line-height: 35px;
  font-size: 12px;
}
.t-nav-cover .site-nav .site-nav-bd-l {
  float: left;
}
.t-nav-cover .site-nav .site-nav-bd-l li {
  float: left;
  height: 35px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) {
  padding: 0 6px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) a {
  margin-right: 7px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) span {
  margin-right: 7px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(1) {
  border: 1px solid transparent;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(1):hover {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(2) a:nth-child(1) {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(2) a:nth-child(2):hover {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(3) a:hover {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-r {
  float: right;
}
.t-nav-cover .site-nav .site-nav-bd-r li {
  float: left;
  padding: 0px 6px;
}
.t-nav-cover .site-nav .site-nav-bd-r li .site-nav-menu-hd :nth-child(-n + 2) {
  margin-right: 7px;
}
.t-main-cover {
  width: 100%;
  min-width: 1190px;
  height: 121px;
  padding-top: 24px;
}
.t-main-cover .main-belt {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.t-main-cover .main-belt .header-logo {
  float: left;
  width: 190px;
  height: 80px;
  padding-top: 8px;
}
.t-main-cover .main-belt .header-logo h1 {
  height: 58px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.t-main-cover .main-belt .header-logo h1 .logo-bd {
  height: 100%;
  width: 142px;
  display: inline-block;
  background: url("../img/logo.png") no-repeat 0 0/142px 58px;
  padding-top: 58px;
}
.t-main-cover .main-belt .header-search {
  width: 630px;
  height: 87px;
  float: left;
  margin-left: 68px;
}
.t-main-cover .main-belt .header-search .search-tab {
  height: 22px;
}
.t-main-cover .main-belt .header-search .search-tab .tab-list {
  height: 100%;
  margin-left: 17px;
}
.t-main-cover .main-belt .header-search .search-tab .tab-list .tab-item {
  float: left;
  width: 36px;
  height: 22px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
}
.t-main-cover .main-belt .header-search .search-tab .tab-list .tab-item.active {
  background-color: #ff5000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.t-main-cover .main-belt .header-search .search-tab .tab-list .tab-item:hover {
  background-color: #ffeee5;
  cursor: pointer;
}
.t-main-cover .main-belt .header-search .search-panel {
  height: 40px;
  position: relative;
}
.t-main-cover .main-belt .header-search .search-panel .input-wrap {
  width: 556px;
  height: 40px;
  border: 2px solid #ff5000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  overflow: hidden;
}
.t-main-cover .main-belt .header-search .search-panel .input-wrap i.fa {
  position: absolute;
  font-size: 20px;
  color: #999;
}
.t-main-cover .main-belt .header-search .search-panel .input-wrap i.fa.fa-search {
  top: 7px;
  left: 10px;
}
.t-main-cover .main-belt .header-search .search-panel .input-wrap i.fa.fa-camera {
  top: 9px;
  right: 10px;
}
.t-main-cover .main-belt .header-search .search-panel .input-wrap input {
  width: 472px;
  height: 36px;
  padding: 6px 0;
  box-sizing: border-box;
  text-indent: 40px;
  background-color: #f4f4f4;
}
.t-main-cover .main-belt .header-search .search-panel .button-wrap {
  width: 74px;
  height: 40px;
  background-color: #ff5000;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.t-main-cover .main-belt .header-search .search-panel .button-wrap button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.t-main-cover .main-belt .header-search .search-ft {
  height: 25px;
  line-height: 25px;
  background-color: #fff;
}
.t-main-cover .main-belt .header-search .search-ft .ft-link {
  font-size: 12px;
  margin-right: 3px;
  color: #666;
}
.t-main-cover .main-belt .header-search .search-ft .ft-link.fr {
  float: right;
  margin-top: 2px;
}
.t-main-cover .main-belt .header-search .search-ft .ft-link.hl {
  color: #ff5000;
}
.t-main-cover .main-belt .header-qr {
  position: absolute;
  top: 0;
  right: 110px;
  width: 76px;
  height: 90px;
  border: 1px solid #eee;
  text-align: center;
}
.t-main-cover .main-belt .header-qr .close-btn {
  position: absolute;
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #eee;
}
.t-main-cover .main-belt .header-qr a span {
  color: #ff5000;
  margin-top: 4px;
  font-size: 12px;
}
.t-main-cover .main-belt .header-qr a img {
  width: 62px;
  height: 62px;
}
.main-nav-cover {
  width: 100%;
  min-width: 1190px;
}
.main-nav-cover .main-nav-bd {
  height: 30px;
  width: 1190px;
  background-color: #ff5555;
  margin: 0 auto;
}
.main-nav-cover .main-nav-bd .market {
  float: left;
  width: 190px;
  background-color: #ff5000;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.main-nav-cover .main-nav-bd .nav-list {
  float: left;
}
.main-nav-cover .main-nav-bd .nav-list.main-nav-list .nav-link {
  font-size: 16px;
}
.main-nav-cover .main-nav-bd .nav-list li {
  float: left;
  height: 30px;
  margin: 0 3px;
  padding: 0 4px;
  line-height: 30px;
  color: white;
  position: relative;
}
.main-nav-cover .main-nav-bd .nav-list li.nav-item:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  top: -14px;
  background: url(../img/cap.png) no-repeat 0 0/25px 14px;
}
.main-nav-cover .main-nav-bd .nav-list li .nav-link {
  font-size: 14px;
  color: white;
}
.main-show-area {
  width: 1190px;
  height: 632px;
  margin: 0 auto;
}
.main-show-area .left-part {
  height: 100%;
  float: left;
}
.main-show-area .left-part .main-area .main-nav-menu {
  float: left;
  width: 188px;
  height: 522px;
  border: 1px solid #ff5000;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list {
  height: 522px;
  padding: 5px 0 3px;
  box-sizing: border-box;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item {
  height: 32px;
  padding: 0 19px 0 25px;
  font-size: 14px;
  line-height: 32px;
  color: #666;
  position: relative;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item:hover {
  background: #ffeee5;
  color: #ff5000;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item:hover a,
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item:hover .fa {
  color: #ff5000;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item .fa {
  position: absolute;
  right: 10px;
  top: 9px;
  color: #999;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item .menu-link {
  font-size: 14px;
  color: #666;
}
.main-show-area .left-part .main-area .main-nav-menu .menu-list .menu-item .menu-link:hover {
  text-decoration: underline;
}
.main-show-area .left-part .main-area .slider-cover {
  float: left;
  width: 520px;
  height: 512px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-show-area .left-part .main-area .slider-cover .main-slider {
  position: relative;
  width: 520px;
  height: 280px;
  background-color: #111;
}
.main-show-area .left-part .main-area .slider-cover .main-slider:hover .dir-icon {
  display: block;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .dir-icon {
  display: none;
  width: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  top: 50%;
  transform: translate(0, -50%);
}
.main-show-area .left-part .main-area .slider-cover .main-slider .dir-icon:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.main-show-area .left-part .main-area .slider-cover .main-slider .dir-icon.dir-forward {
  right: 0px;
  text-indent: 3px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .dir-icon.dir-backward {
  left: 0px;
  text-indent: -2px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 73px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6.5px;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .indicator .indicator-dot {
  float: left;
  margin: 1.5px 2.3px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .indicator .indicator-dot.cur {
  background-color: #ff5000;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .main-slider-item {
  height: 280px;
}
.main-show-area .left-part .main-area .slider-cover .main-slider .main-slider-item img {
  width: 100%;
}
.main-show-area .left-part .main-area .slider-cover .goods-slider {
  position: relative;
  width: 520px;
  height: 230px;
  background-color: #e00;
}
.main-show-area .left-part .main-area .slider-cover .goods-slider x {
  height: 32px;
  padding-top: 11px;
}
.main-show-area .left-part .main-area .hot-sales {
  float: left;
  width: 160px;
  height: 512px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #0f0;
}
.main-show-area .left-part .tb-headline {
  width: 890px;
  height: 100px;
  background-color: #000;
}
.main-show-area .funcs-area {
  width: 290px;
  height: 622px;
  float: right;
  background-color: #000;
  margin-top: 10px;
}
.main-show-area .funcs-area .hello {
  height: 71px;
  margin-top: 20px;
  background-color: #555;
}
.main-show-area .funcs-area .account-info {
  height: 42px;
  margin-top: 11px;
  background-color: #f00;
}
.main-show-area .funcs-area .tip {
  height: 141px;
  margin: 16px auto 0;
  background-color: #00f;
}
.main-show-area .funcs-area .notice {
  height: 100px;
  margin: 17px auto auto 14px;
  background-color: #ff0;
}
.main-show-area .funcs-area .mytao {
  height: 53px;
  margin: 20px auto auto 12px;
  background-color: #0f0;
}
