body {
  -webkit-font-smoothing: antialiased;
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #3c3c3c;
}
div,
ul,
li {
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
}
input:hover,
button:hover {
  cursor: pointer;
}
em,
i {
  font-style: normal;
}
@font-face {
  font-family: "global-iconfont";
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot");
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1404888168_2057645.woff") format("woff"), url("//at.alicdn.com/t/font_1404888168_2057645.ttf") format("truetype"), url("//at.alicdn.com/t/font_1404888168_2057645.svg#uxiconfont") format("svg");
}
body {
  background-color: #f4f4f4;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.active {
  color: #ff5000;
}
.life-study {
  width: 100%;
  min-width: 1190px;
  height: 166px;
  margin-top: 10px auto 0;
  background-color: #fff;
  overflow: hidden;
}
.life-study .life-study-title {
  height: 24px;
  margin: 19px 0 20px;
  background-color: #ddd;
  overflow: hidden;
}
.life-study .life-study-title .title-img {
  width: 95px;
  height: 0;
  padding-top: 24px;
  background: url("../img/life_study/title.png") no-repeat 0 0/90px 24px;
}
