blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #3c3c3c;
}
div,
ul,
li {
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
}
input:hover,
button:hover {
  cursor: pointer;
}
em,
i {
  font-style: normal;
}
@font-face {
  font-family: "global-iconfont";
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot");
  src: url("//at.alicdn.com/t/font_1404888168_2057645.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1404888168_2057645.woff") format("woff"), url("//at.alicdn.com/t/font_1404888168_2057645.ttf") format("truetype"), url("//at.alicdn.com/t/font_1404888168_2057645.svg#uxiconfont") format("svg");
}
body {
  background-color: #f4f4f4;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.t-nav-cover {
  width: 100%;
  min-width: 1190px;
  height: 35px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.t-nav-cover .site-nav {
  height: 100%;
  width: 1190px;
  margin: 0 auto;
  line-height: 35px;
  font-size: 12px;
}
.t-nav-cover .site-nav .site-nav-bd-l {
  float: left;
}
.t-nav-cover .site-nav .site-nav-bd-l li {
  float: left;
  height: 35px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) {
  padding: 0 6px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) a {
  margin-right: 7px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(-n + 3) span {
  margin-right: 7px;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(1) {
  border: 1px solid transparent;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(1):hover {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(2) a:nth-child(1) {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(2) a:nth-child(2):hover {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-l li:nth-child(3) a:hover {
  color: red;
}
.t-nav-cover .site-nav .site-nav-bd-r {
  float: right;
}
.t-nav-cover .site-nav .site-nav-bd-r li {
  float: left;
  padding: 0px 6px;
}
.t-nav-cover .site-nav .site-nav-bd-r li .site-nav-menu-hd :nth-child(-n + 2) {
  margin-right: 7px;
}
