* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  /* 企业默认颜色#333或#424242 */
  color: #333;
}
img {
  width: 100%;
}
h4 {
  font-weight: normal;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.course-wrap {
  width: 1200px;
  margin: 100px auto;
}
.course-tab {
  height: 52px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 30px;
  border: 1px solid #efefef;
  background-color: #f5f5f5;
}
.course-tab .course-tab-list {
  width: 100%;
}
.course-tab .tab-item {
  float: left;
  /* width: 100px; */
  line-height: 52px;
  height: 50px;
  font-size: 12px;
  margin-right: 40px;
}
.course-tab .tab-item .current {
  color: #167ed9;
}

/* 展示区域 */

.course-card-list-wrap {
  width: 1200px;
  height: 500px;
  /* border: 1px solid red; */
}
.course-card-list-wrap .course-card-list {
  height: 500px;
  margin-right: -10px;
}
.course-card-list-wrap .card-item {
  width: 232px;
  height: 221px;
  float: left;
  margin: 0 10px 20px 0px;
  border: 1px solid transparent;
}
.course-card-list-wrap .card-item:hover {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px 1px #ececec;
}
.course-card-list-wrap .card-item .img-lnk {
  width: 220px;
  height: 124px;
  margin-bottom: 6px;
}

.course-card-list-wrap .card-item .item-status {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  height: 24px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}
.course-card-list-wrap .card-item .item-status-text {
  margin-left: 2px;
}

.course-card-list-wrap .card-item .item-tt {
  /* line-height: 20px; */
  height: 40px;
  margin: 3px 0 8px 0;
  font-size: 14px;
  overflow: hidden;
}
.course-card-list-wrap .card-item .tt-link:hover {
  color: #167ed9;
}

.course-card-list-wrap .card-item .item-line {
  height: 24px;
}

.course-card-list-wrap .card-item .item-price {
  font-size: 14px;
}
.course-card-list-wrap .card-item .item-price.free {
  color: #5fb41b;
}
.course-card-list-wrap .card-item .item-price.vip {
  color: #e85838;
}

.course-card-list-wrap .card-item .item-info {
  font-size: 12px;
  float: right;
  color: #999;
  margin-top: 3px;
}
