.triangle {
  display: inline-block;
  margin-top: 20px;
}
.triangle.top {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 25px 50px 25px;
  border-bottom-color: red;
  border-left-color: rgba(255, 0, 0, 0);
  border-right-color: rgba(255, 0, 0, 0);
}
.triangle.bottom {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 50px 25px 0 25px;
  border-top-color: orange;
  border-left-color: rgba(255, 165, 0, 0);
  border-right-color: rgba(255, 165, 0, 0);
}
.triangle.left {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 25px 50px 25px 0;
  border-right-color: lightgreen;
  border-top-color: rgba(144, 238, 144, 0);
  border-bottom-color: rgba(144, 238, 144, 0);
}
.triangle.right {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 40px 0 40px 80px;
  border-left-color: blue;
  border-top-color: rgba(0, 0, 255, 0);
  border-bottom-color: rgba(0, 0, 255, 0);
}
.triangle.top-right {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 80px 80px 0;
  border-right-color: cyan;
  border-bottom-color: rgba(0, 255, 255, 0);
}
.triangle.top-left {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-top-color: #8d9191;
  border-right-color: rgba(141, 145, 145, 0);
}
.triangle.bottom-right {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-bottom-color: #ae00ff;
  border-left-color: rgba(174, 0, 255, 0);
}
.triangle.bottom-left {
  width: 0;
  height: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 80px 0 0 80px;
  border-left-color: #d6ab34;
  border-top-color: rgba(214, 171, 52, 0);
}
