<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.26/dist/vue.global.js"></script>

</head>

<body>
  <template id='my-app'>
    <h2>你的性别：{{getGender}}</h2>
    <label for="male">
      <input id='male' type="radio" v-model='gender' value=1>男
    </label>
    <label for="female">
      <input id='female' type="radio" v-model='gender' value=0>女
    </label>
  </template>
  <div id="app">

  </div>
  <script>
    const app = Vue.createApp({
      template: "#my-app",
      data() {
        return {
          gender: 0
        }
      },
      computed: {
        getGender() {
          console.log("this.:", typeof this.gender)
          let str = this.gender == 0 ? '女' : '男';
          console.log(str);
          return this.gender == 0 ? '女' : '男'
        }
      }
    });
    app.mount("#app");
  </script>
</body>

</html>