ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  /* width: 750px;
  height: 1334px; */
  background-color: aquamarine;
}
.container .list {
  display: flex;
}
.container .list li {
  flex: 1;
  text-align: center;
  line-height: 44px;
  height: 44px;
}
.container .list button {
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: transparent;
}
.container .list button.active {
  border-bottom: 2px solid red;
  color: red;
}
